body 
{
    background-color: #161631;
}

#logo
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 200px;
    width: auto;
}

#title 
{
    font-size: 100px;
    width: 100%;
    margin: 2% auto;
    text-align: center;
    font-family: 'Monaco', sans-serif;
    color: #ffef76;
}

#loginDiv
{
    font-size: 30px;
    width: 70%;
    margin: 2% auto;
    padding: 25px;
    background-color: #292939;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Monaco', sans-serif;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 100%;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin: 0 auto 2%; /* For future reference, this is top 0, left-right auto, and bottom 2 percent*/
    font-family: 'Monaco', sans-serif;
    display: block; /* Without this auto margins don't work */
}

#inner-title{
    display: inline-block;
    font-size: 50px;
    width: 90%;
    text-align: center;
    margin: 5%;
    margin-bottom: 4%;
    font-family: 'Monaco', sans-serif;
    color: #ffef76;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Monaco', sans-serif;
    color: #ffef76;
}

#signUpResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Monaco', sans-serif;
    color: #ffef76;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Monaco', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Monaco', sans-serif;
    color: #95060a;
}
