/* || For title font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


/* || All pages */
/* Background color*/
body 
{
    background-color: #161631;
}

/* Background image*/
#cometBackground
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: url("/images/cometbackground.png") center/cover no-repeat;
}

#topBar .row1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Not on all pages */
#topBar .row2
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo
{
    margin-left: 1rem;
    height: clamp(3rem, 10rem, 10rem); /* Using clamp instead of just rem for better scaling */
    width: auto;
}

/* Removes flash on click, better experience */
.logo-link:active, .logo-link:focus
{
    outline: none;
    background: none;
}

#title 
{
    margin-top: 0rem;
    font-size: clamp(5rem, 12rem, 12rem); /* Using clamp instead of just rem for better scaling */
    font-weight: 1000;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

#loginSignup
{
    margin-right: 1rem;
    font-size: 3.1rem;
    font-weight: 1000;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.nav-link:link
{
    text-decoration: none;
    color: #FC6E51;
    transition: color 0.2s ease;
}

/* Without this is snaps back to yellow instantly */
.nav-link:hover, .nav-link:visited:hover 
{
  color: #ffffff;
}

.nav-link:visited
{
    color: #FC6E51;
}

/* Signup and login are the only butons I want this to apply for, I'll make a class for them later */
.authButtons
{
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    padding: 1rem;
    border: none; /* Border is ugly without this */
    border-radius: 0.5rem;
    background-color: #161631;
    color: #FC6E51;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 100%;
}


/* || contacts.html */

#search {
    width: 80%;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: 'Verdana', sans-serif;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 1rem;
}

#addButton {
    font-size: 1.2rem;
    font-family: 'Orbitron', sans-serif;
    padding: 0.8rem 2rem;
    background-color: #161631;
    border: none;
    border-radius: 0.6rem;
    color: #FC6E51;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addButton:hover {
    color: #ffffff;
}

#userName
{
    display: inline-block;
    font-size: 4rem;
    font-weight: 1000;
    width: 100%;
    margin-bottom: 1.8rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #161631;
}

#loggedInDiv
{
    position: fixed;
    top: 45%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%); /* Centers the panel*/

    padding: 3rem 2rem;

    background-color:#FC6E51;
    border-radius: 0.7rem;

}

#logoutText
{
    margin-right: 1rem;
    font-size: 3.1rem;
    font-weight: 1000;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#searchText
{
	font-size: 30px;
}

#logoutButton
{
    width: 20%;
    margin-left: 40%;
}

/* Will be contact search result */
#colorSearchResult
{
    display: none;
}

/* Will be contact add result */
#colorAddResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Verdana', sans-serif;
    color: #95060a;
}

/* || login.html */
#loginName
{
	font-size: 30px;
}

#loginPassword
{
	font-size: 30px;
}

/* input in the login and signup authForm */
input[type="text"],input[type="password"]
{
    border-radius: 0.9rem;
    text-align: center;
    width: 80%;
    margin: 0 auto 2%; /* For future reference, this is top 0, left-right auto, and bottom 2 percent*/
    font-family: 'Verdana', sans-serif;
    display: block; /* Without this auto margins don't work */
}

/* Title inside authForm */
.inner-title
{
    display: inline-block;
    font-size: 4rem;
    font-weight: 1000;
    width: 100%;
    margin-bottom: 1.8rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #161631;
}

/* Maybe combine loginResult and signUpResult into one class, not sure if possible yet */
#loginResult
{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Verdana', sans-serif;
    color: #161631;
}
#signUpResult
{
    display: inline-block;
    font-size:1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Verdana', sans-serif;
    color: #161631;
}

/* Username on signup specifically */
#userName
{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

/* Login and signup panel */
#authPanel
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the panel*/

    padding: 3rem 2rem;

    background-color:#FC6E51;
    border-radius: 0.7rem;
}

/* Login form and signup form specifically */
.authForm
{
    width: 25rem;
    margin: auto 2rem;
    padding: 1rem;
}

/* toggle between login and signup */
.authForm a {
    display: block; /* Makes the link take up the whole width */
    text-align: center;
    margin-top: 0.9rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 2rem; /* Making this pretty big, it's important they see */
    color: #161631;
    text-decoration: none; /* No underline */
    transition: color 0.2s ease, text-shadow 0.2s ease; /* Transition like with nav-link */
}

/* When you hover, turn the link white like with all other links */
.authForm a:hover,
.authForm a:focus {
    color: #FFFFFF;
}

.authForm input[type="text"],
.authForm input[type="password"] 
{
    width: 100%; /* Sizes the box nicely */
    padding: 1rem; /* Sizes the box nicely */
    margin-bottom: 1rem; /* Spaces out boxes */
    border: 0.2rem solid #161631; /* Use our background color as a border */
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-family: 'Verdana', sans-serif;
    color: #161631;
}
